@font-face {

}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
}

.order {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 1em;
}

.shiplist{
  flex-grow: 2;
}

.total{
  flex-grow: 2;
}

.order button {
  flex-grow: 1;
}