/* -------------------- FONTS ----------------------- */

@font-face {
  font-family: "star-wars";
  src: url("./fonts/Starjedi.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "News Gothic";
  src: url("./fonts/NewsGothicStd.otf");
  font-weight: normal;
  font-style: normal;
}

/* -------------------- GENERAL STYLES ----------------------- */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  font-family: "News Gothic";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #404040;
  background-color: black;
}

body {
  padding: 2em;
}

h1 {
  color: #0297b3;
  font-family: "star-wars";
  font-size: 4rem;
  line-height: 4.5rem;
}

/* -------------------- BACKGROUND STYLES ----------------------- */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:-2;

  -moz-animation:move-twink-back 600s linear infinite;
  -ms-animation:move-twink-back 600s linear infinite;
  -o-animation:move-twink-back 600s linear infinite;
  -webkit-animation:move-twink-back 600s linear infinite;
  animation:move-twink-back 600s linear infinite;
}

/* -------------------- CLIENTFORM STYLES ----------------------- */

.client-information {
  width: 500px;
  height: auto;
  margin: 0em auto;
  background-color: #ffffff;
  background: rgb(255,255,255);
  background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(215,225,236,0.8) 74%);
  border: solid 6px #00abc9;
  text-align: center;
}

.client-information h1 {
  font-size: 6rem;
  margin: 0.2em 0;
}

.client-information h2 {
  color: #0297b3;
}

.client-information p {
  font-weight: bold;
  font-size: 1.1rem;
}

.form-fill {
  width: 90%;
  margin: 2em auto;
  text-align: left;
}

.form-fill input {
  width: 100%;
  display: inline-block;
  font: 400 1rem "News Gothic";
  text-indent: 0.5rem;
  color: initial;
  text-shadow: none;
  text-align: start;
  background-color: rgba(255, 255, 255, 0.80);
  cursor: text;
  margin: 0.5em 0;
  padding: 0.3em 0;
  border: none;
  color: #5B5B5B;
}

.form-fill p {
  margin-top: 1em;
}

.client-information button {
  color: white;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  background-color: #0297b3;
  box-sizing: border-box;
  margin-bottom: 2.5em;
  font: 1000 1rem "News Gothic";
  padding: 0.5em;
  border: none;
  transition: 1s;
}

.client-information button:hover {
  background-color: #00738a;
  transition: 1s;
}

/* -------------------- LOADING SCREEN ----------------------- */

.loading-screen h1{
  position: absolute;
  top: 40%;
  left: 40%;
}

/* -------------------- APP STYLES ----------------------- */
.merchant-app {
  width: 68%;
}

.merchant-app h1 {
  text-align: center;
  margin-bottom: 0.6em;
}

.card {
  margin: 1em 0 0 0;
  padding: 1em;
  border: solid 6px #00abc9;
  background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(215,225,236,0.9) 74%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card-image { 
  background-image: url(images/square-placeholder.jpg);
  background-size: cover;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-right: 1.5em;
  flex: 0 0 250px;
}

.card-image img {
  height: 100%;
}

.card h2 {
  margin-bottom: 0.6em;
}

.card p {
  margin: 0.6em;
}

.order {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  padding: 0 1em 0 1em;
  background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(215,225,236,0.9) 74%);
  border-left: solid 6px #00abc9;
  transition: transform 0.6s ease-in-out;
}

.order ul {
  padding: 1em;
}

.order li {
  list-style-type: none;
  border-top: #404040 solid 1px;
  padding: 1em 0.5em;
  text-transform: uppercase;
}

.order li button {
  float: right;
  background: none;
  font-weight: bolder;
  color: black;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.title-bar {
  margin: 1em 0 1em 0;
  text-align: center;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu div {
  width: 20px;
  height: 3px;
  background-color: rgb(56, 56, 56);
  margin: 4px;
}

.shiplist{
  flex-grow: 12;
}

.total{
  flex-grow: 1;
}

.submit-button {
  margin: 0 auto 2em auto;
  background-color: #0297b3;
  border: none;
  text-transform: uppercase;
  padding: 1em 1em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.submit-button:hover {
  background-color: #00738a;
  transition: 1s;
}

/* -------------------- THANKS COMPONENT STYLES ----------------------- */

.thanks-component {
  width: 500px;
  height: auto;
  margin: 0em auto;
  background-color: #ffffff;
  background: rgb(255,255,255);
  background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(215,225,236,0.8) 74%);
  border: solid 6px #00abc9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.thanks-component h1 {
  margin: 0.5em 0 0.2em 0;
  font: 1000 3rem "News Gothic";
  text-transform: uppercase;
}

.thanks-component h2 {
  margin-bottom: 0.8em;
  color: #5B5B5B;
  text-transform: uppercase;
}

.thanks-component p {
  margin: 0.5em auto 0.5em auto;
  text-align: left;
  width: 90%;
  font-size: 1rem;
}

.thanks-component button {
  color: white;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  background-color: #0297b3;
  box-sizing: border-box;
  font: 1000 1rem "News Gothic";
  padding: 0.5em;
  margin: 1.5em auto 2em auto;
  border: none;
  transition: 1s;
}

.thanks-component button:hover {
  background-color: #00738a;
  transition: 1s;
}

/* -------------------- MEDIA QUERIES ----------------------- */

@media screen and (max-width: 500px) {
  .client-information {
    width: 100%;
    height: 95vh;
  }

  .card {
    flex-direction: column;
  }

  .card-image { 
    width: 100%;
    padding-top: 100%;
    margin: 0 0 1.5em 0;
    flex: 0 0 100%;
    overflow: hidden;
    position: relative;
  }

  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-info {
    width: 100%;
  }

  .card-info h2 {
    text-align: center;
    margin-bottom: 0.8em;
  }

  .thanks-component {
    width: 100%;
    height: 95vh;
  }
}

@media screen and (max-width: 992px) {
  body {
    padding: 1em;
  }

  .merchant-app {
    width: 100%;
  }

  .order {
    width: 100%;
    border: none;
    background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(215,225,236,1) 74%);
  }

  .hamburger-menu {
    position: absolute;
    right: 1em;
    top: 1.2em;
    display: block;
  }

  .order-active {
    transform: translateY(100%) translateY(-4em);
  }
}