/* -------------------- FONTS ----------------------- */

@font-face {
  font-family: "star-wars";
  src: url("./fonts/Starjedi.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "News Gothic";
  src: url("./fonts/NewsGothicStd.otf");
  font-weight: normal;
  font-style: normal;
}

/* -------------------- GENERAL STYLES ----------------------- */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  font-family: "News Gothic";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #404040;
  background-color: black;
}

body {
  padding: 1em;
}

h1 {
  color: #0297b3;
  font-family: "star-wars";
  font-size: 4rem;
  line-height: 4.5rem;
}

/* -------------------- BACKGROUND STYLES ----------------------- */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:-2;

  -moz-animation:move-twink-back 600s linear infinite;
  -ms-animation:move-twink-back 600s linear infinite;
  -o-animation:move-twink-back 600s linear infinite;
  -webkit-animation:move-twink-back 600s linear infinite;
  animation:move-twink-back 600s linear infinite;
}

.clouds{
  background:transparent url(images/clouds.png) repeat top center;
  z-index:-1;

  -moz-animation:move-clouds-back 600s linear infinite;
  -ms-animation:move-clouds-back 600s linear infinite;
  -o-animation:move-clouds-back 600s linear infinite;
  -webkit-animation:move-clouds-back 600s linear infinite;
  animation:move-clouds-back 600s linear infinite;
}

/* -------------------- CLIENTFORM STYLES ----------------------- */

.client-information {
  width: 100%;
  height: 95vh;
  margin: 0em auto;
  background-color: #ffffff;
  background: rgb(255,255,255);
  background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(215,225,236,0.8) 74%);
  border: solid 6px #00abc9;
  text-align: center;
}

.client-information h1 {
  font-size: 6rem;
  margin: 0.2em 0;
}

.client-information h2 {
  color: #0297b3;
}

.client-information p {
  font-weight: bold;
  font-size: 1.1rem;
}

.form-fill {
  width: 90%;
  margin: 2em auto;
  text-align: left;
}

.form-fill input {
  width: 100%;
  display: inline-block;
  font: 400 1rem "News Gothic";
  text-indent: 0.5rem;
  color: initial;
  text-shadow: none;
  text-align: start;
  background-color: rgba(255, 255, 255, 0.80);
  cursor: text;
  margin: 0.5em 0;
  padding: 0.3em 0;
  border: none;
  color: #5B5B5B;
}

.form-fill p {
  margin-top: 1em;
}

.client-information button {
  color: white;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  background-color: #0297b3;
  box-sizing: border-box;
  margin-bottom: 2.5em;
  font: 1000 1rem "News Gothic";
  padding: 0.5em;
  border: none;
  transition: 1s;
}

.client-information button:hover {
  background-color: #00738a;
  transition: 1s;
}

/* -------------------- LOADING SCREEN ----------------------- */

.loading-screen h1{
  position: absolute;
  top: 40%;
  left: 40%;
}

/* -------------------- APP STYLES ----------------------- */

.order {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 1em;
}

.shiplist{
  flex-grow: 2;
}

.total{
  flex-grow: 2;
}

.order button {
  flex-grow: 1;
}

/* -------------------- THANKS COMPONENT STYLES ----------------------- */

/* -------------------- MEDIA QUERIES ----------------------- */

@media (min-width: 500px) {
  body {
    padding: 2em;
  }

  .client-information {
    width: 500px;
    height: auto;
  }
}